body {
  margin: 0;
  padding: 0;
  background-color: rgb(118, 180, 234);
  background-image: url(./images/Sports.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@font-face {
  font-family: CursedTimerUlil;
  src: url(./font/cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}

.main-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  padding: 30px 0;
  background-color: #1B244A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 250px;
  margin-inline: auto;
  opacity: 0.9;
}

.heading {
  color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.container-1, .container-2 {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lcd-black {
  background-color: black;
  width: 155px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.num {
  font-family: CursedTimerUlil;
  font-size: 90px;
  color: #F94F6D;
  padding: 0;
  margin: 0;
  line-height: 1;
}

button {
  border: 1px solid #9AABD8;
  background-color: #1B244A;
  color: azure;
  font-family: CursedTimerUlil;
  font-size: ;
  width: 45px;
  height: 45px;
  border-radius: 5px; 
}

.mid-btns {
  display: flex;
  justify-content: center;
  max-width: 600px;
  padding: 30px 0;
  padding-bottom: 50px;
  margin-inline: auto;
  background-color: #1B244A;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9;
}

#newGameBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
}