body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: aliceblue;
}

/*@font-face {
  font-family: CursedTimerUlil;
  src: url(./font/cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

.board-container {
  background-color: #1B244A;
  width: 575px;
  height: 385px;
  display: flex;
  justify-content: space-around;
}

.lcd-display {
  width: 155px;
  height: 120px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-score-display {
  font-family: CursedTimerUlil;
  color: #F94F6D;
  font-size: 90px;
}